* {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  gap: 130px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(29, 29, 134);
}

.app-container {
  text-align: center;
  width: 100%;
}

h1 {
  color: yellow;
  font-size: 40px;
}

#counter {
  font-size: 60px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: white;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  cursor: pointer;
  font-size: 18px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}

#resetBtn {
  background-color: rgb(184, 35, 35);
  color: white;
}

#resetBtn:hover {
  background-color: red;
}

#incrementBtn,
#decrementBtn {
  background-color: rgb(209, 252, 55);
  color: rgb(29, 29, 134);
}

#incrementBtn:hover,
#decrementBtn:hover {
  background-color: yellow;
}

footer {
  color: yellow;
  margin-bottom: -200px;
  font-size: 24px;
}
