body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
}

h1 {
  color: red;
}

#counter {
  font-size: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
  font-size: 18px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}

#resetBtn {
  background-color: rgb(184, 35, 35);
  color: white;
}

#resetBtn:hover {
  background-color: red;
}

#incrementBtn,
#decrementBtn {
  background-color: rgb(252, 252, 140);
}

#incrementBtn:hover,
#decrementBtn:hover {
  background-color: yellow;
}
